.wrapper {
    width: 420px;
    margin: 100px auto;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputBox {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
  }
  
  .inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  
  .inputBox input::placeholder {
    color: #fff;
  }
  
  .inputBox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #f1f1f1;
  }
  