.grid {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 540px;
  min-height: 400px;
  margin: 160px auto;
  background-color: #f9f9f9;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px 40px;
}

.heading {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.inputBox {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 30px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: #333;
  transition: border-color 0.3s;
}

.inputBox input:focus {
  border-color: #d1a01a;
}

.inputBox input::placeholder {
  color: #333;
}

.inputBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
}

.btn {
  width: 100%;
  height: 45px;
  background: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #08a008;
  color: #fff;
}

.cadastro {
  margin-top: 32px;
  text-align: end;
}

.cadastro button {
  background: none;
  border: none;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.cadastro button:hover {
  color: #000000;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 45px;
  background: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 0 20px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #d1a01a;
}

.buttonCadastrar {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  background: #d9d9d9;
  border: none;
  border-radius: 40px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonCadastrar:hover {
  background: #08a008;
  color: #fff;
}
