.container {
  padding: 20px;
  max-width: 1400px;
  margin: 20px auto;
  background-color: #f1f1f1;
  min-height: 70vh;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.button {
  padding: 12px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background: 0.3s;
}

.button:hover {
  background: #005bb5;
}

.title {
  font-size: 28px;
  color: #1f2937;
  margin-bottom: 24px;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #1f2937;
  padding-bottom: 12px;
}

.barraButton {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.buttonChamado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f46e5;
  min-height: 50px;
  min-width: 260px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buttonChamado:hover {
  background-color: #6366f1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 32px;
  justify-items: center;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 232px;
  max-width: 322px;
  width: 100%;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-14px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  color: #4f46e5;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.cardDescription {
  font-size: 18px;
  color: #1c1f25;
  margin-bottom: 6px;
  word-wrap: break-word;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.cardDescription:last-child {
  font-weight: 500;
  color: #10b981;
}

.barraButtonDetalhes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  gap: 20px;
}

.buttonsComentario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f46e5;
  min-height: 18px;
  width: 124px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.buttonDetalhes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10b981;
  min-height: 32px;
  width: 52px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 8px;
}



.btnExcluir {
  padding: 6px 12px;
  width: 50% ;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.btnExcluir {
  background: #ef4444;
  color: white;
}

.btnExcluir:hover {
  opacity: 0.9;
}

.buttonsComentario:hover {
  cursor: pointer;
  background-color: #6366f1;
}

.buttonDetalhes:hover {
  cursor: pointer;
  background-color: #00a666;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  animation: slideIn 0.3s ease-out;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.cancelButton {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #dc2626;
}

.Description {
  background-color: blue;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 12px;
}

.footer {
  margin-top: 32px;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.detalheTitulo {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #1f2937;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #1f2937;
  padding-bottom: 12px;
}

.detalheInfo {
  font-size: 18px;
  line-height: 1.6;
  color: #374151;
  margin-left: 18px;
  margin-bottom: 25px;
  background-color: #e2e2e2;
  padding: 16px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.detalheInfo p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
  padding: 8px 0;
  border-bottom: 1px solid #d1d5db;
}

.detalheInfo p:last-child {
  border-bottom: none;
}

.detalheInfo strong {
  color: #1f2937;
  font-weight: 600;
  min-width: 140px;
}

.detalheInfo p span,
.detalheInfo p {
  font-size: 20px;
  color: #4b5563;
  flex: 1;
  text-align:start;
}

